/* main orange = #14532d 
border #5b876c
background color  #e8eeea*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #333333;
  scroll-behavior: smooth;
}

.a-links:link, .a-links:visited {
  text-decoration: none;
  color: #333;
}

.body {
  font-family: rubik, sans-serif;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.1rem;

  overflow-x: hidden;
}

.nav {
  border-right: 0.2rem solid rgba(91, 135, 108, 0.2);

  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  padding-top: 4.8rem;
}

.nav:hover {
  box-shadow: 0 0 0.8rem rgba(91, 135, 108, 0.4);

}

.nav-img {
  height: 16rem;
  border-radius: 50%;
  border: 2px solid #14532d;
}

.nav-img:hover {
  box-shadow: 0 0 0.5rem 1rem rgba(91, 135, 108, 0.1);
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.nav-list-item:link, .nav-list-item:visited {
  color: #333333;
  text-decoration: none;
  display: flex;

  align-items: center;
  gap: 1.6rem;
  
  .nav-text, .nav-icon {
    transition: all 0.3s;
  
  }
}

.nav-list-item:hover,.nav-list-item:active, .current-indi {
  .nav-text {
    background-color: #e8eeea;
    border-left: 2px solid #104224;
    transform: scale(1.2);
    transform: translateX(10px);
  }
  .nav-icon {
    color: #14532d;
    transform: scale(1.5);
  }
}

/* for current select indicator in nav bar */
/* .current-indi {
  color: #14532d;
  transform: scale(1.2);
} */

.nav-icon {
  font-size: 3.2rem;
}

.nav-text {
  padding: 0.6rem 1.8rem;
  border-radius: 10px;
}

.quick-links {
  margin: auto 0 5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.quick-links-text {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.quick-links-icon-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.quick-links-icon:link, .quick-links-icon:visited {
  color: #000;
  font-size: 3.8rem;
}
.quick-links-icon:hover, .quick-links-icon:active {
  color: #14532d;
}

/* ==========================================
HERO CONTANT
============================================== */

.back-img {
  position: fixed;
  background: #124b29;  
  background: -webkit-linear-gradient(to left, #2c6442, #437557); 
  height: 100vh;
  width: 100%;
  z-index: -99;
}

/* ==================================================
------------------ css background animation -------
==================================================== */

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* ================================================== */

.back-img-in {
  position: relative;
}

.back-img-in::after {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%,-50%);

  content: "";
  height: 30rem;
  width: 30rem;
  /* background-color: #14532d; */
  border-radius: 50%;

  z-index: -999;
}

.main {
  overflow: auto;
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  height: 100vh;
  padding: 0 4rem;
  background-image: linear-gradient(#fff,#fff,#d0ddd5);
}

.hero-h1 {
  font-size: 4.8rem;
  font-weight: 400;
  color: #fff;
}

.hero-para {
  font-size: 4.8rem;
  font-variant: small-caps;
}


.hero-back-grid {
  position: absolute;
  top: 50%;
  /* right: 50%; */
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;

  transform: translateY(-50%);
  /* align-self: center; */
}

.hero-back-grid-img {
  height: 20rem;
  width: 20rem;

  z-index: -5;
}

.hero-back-grid-img:first-child{
  background-image: linear-gradient(120deg,#14532d,#729881,#a1baab,#d0ddd5,#ffffff);
}
.hero-back-grid-img:last-child{
  background-image: linear-gradient(340deg,#729881,#a1baab,#d0ddd5,#ffffff);
}

.hero-back-grid-br-right {
  border-right: 0.1px solid rgba(20, 83, 45, 0.1);
}
.hero-back-grid-br-bottom {
  border-bottom: 0.1px solid rgba(20, 83, 45, 0.1);
}
.hero-back-grid-br-left {
  border-left: 1px solid #000;
}
.hero-back-grid-br-top {
  border-top: 1px solid #000;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.hero-button:link, .hero-button:visited {
  position: absolute;
  bottom: 5%;
  right: 50%;
  color: #333;

  text-decoration: none;
  
  display: flex;
  gap: 1.2rem;
  align-items: center;
  
  padding: 0.8rem 0.8rem;
  background-color: #fff;
  border-radius: 10px;
  
  transform: translateX(50%);
  transition: all 0.3s;
}

.hero-button:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.hero-button:active {
  box-shadow: none;
}

.hero-button-p {
  display: inline-block;
  font-size: 2.2rem;
}

.hero-button-icon {
  display: inline-block;
  font-size: 3.2rem;
  color: #14532d;
}


/*============================================================
featured project section 
===============================================================*/

.featured-project {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 2.8rem;
  margin-bottom: 8rem;
  
}

.featured-project-h2 {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  background-color: #fff;

  margin: 4rem 0;
  padding: 1.2rem 0.8rem;
  border-radius: 10px;
}

.featured-project-div {
  position: relative;
  width: 95%;
  margin: 0 2.8rem; 
}

.featured-project-left-icon {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  
  font-size: 4.8rem;
  color: #fff;
  
  transform: translate(-100%,-50%);
  z-index: 99;
}
.featured-project-right-icon {
  position: absolute;
  top: 50%;
  right: 0%;
  border-radius: 50%;

  font-size: 4.8rem;
  color: #fff;

  transform: translate(100%,-50%);
  z-index: 99;
}

.featured-project-scroll {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;

  border-radius: 10px;
  /* box-shadow: 0 -1 1rem rgba(0, 0, 0, 0.3); */
  
}

.featured-project-carosol {
  width: 80rem;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  gap: 4rem;
  margin: 3rem 2rem 3rem 2rem;
  padding: 0 1.2rem;
  border-radius: 10px;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

}

.featured-project-carosol-fig {
  border-radius: 10px;
  height: 30rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

  transform: scale(1.2);
}

.carosol-text {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.featured-project-h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

.featured-tags {
  display: flex;
  gap: 0.8rem;

  align-items: center;
}

.featured-tags span {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #fff;
  background-color: #5b876c;

  padding: 0.4rem 0.4rem;
  border-radius: 5px;
}

.featured-project-carosol-p {
  font-size: 1.6rem;
}

.featured-project-carosol-btn:link, .featured-project-carosol-btn:visited {
    color: #14532d;
    font-size: 3.8rem;

    transform: translateY(10%);
    transition: all 0.3s;

    margin-left: auto;
}
.featured-project-carosol-btn:hover {
  color: #437557;
}
.featured-project-carosol-btn:active {
  color: #14532d;
}



/* =========================================================
========  about me section =======================
========================================================= */

.about-me {

  background-image: linear-gradient(#fff,#fff,#d0ddd5);
}

.about-me-h2 {

  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  background-color: #fff;
  
  margin: 4rem 0;
  padding: 1.2rem 0.8rem;
  border-radius: 10px;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 6fr 1fr;
  
  width: 95%;
  margin: 2rem auto;
  padding: 2rem 0;
}

.about-me-box {
  padding: 1rem 0.8rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  border-radius: 10px;
}

.about-me-box-h3 {
  font-size: 3.2rem;
  margin: 1rem 0.8rem;
  color: #14532d;
}

.about-me-box-p {
  font-size: 2rem;
  margin: 1rem 0.8rem;
  text-transform: capitalize;
  text-align: justify;
}

.about-me-skill {
  grid-column: 2;
  padding: 1rem 0.8rem;
  border-radius: 10px;
}

.about-me-skill-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-me-skill-li {
  height: 10rem;
  width: 10rem;
  font-size: 2rem;
}

.about-me-skill-li:last-child {

  background-image: linear-gradient(120deg,#14532d,#729881,#a1baab,#d0ddd5,#ffffff);

}


.about-me-resume {
  grid-row: 2;
  grid-column: 1 / -1;

  padding: 1rem 1rem;
  display: flex;
  gap: 2rem;
  justify-content: end;
  align-items: center;

  border-radius: 10px;
}

.about-me-resume-p {
  font-size: 1.6rem;
}

.about-me-resume-a:link, .about-me-resume-a:visited {
  font-size: 2rem;
  text-decoration: none;
  background-color: #14532d;
  color: #fff;

  padding: 1rem 1.8rem;
  border-radius: 20px;
}

.about-me-resume-a:hover {
  background-color: #0e3a1f;
}
.about-me-resume-a:active {
  background-color: #14532d;
}

/* =================================================================
----------------- contact -------------------------------------------
==================================================================== */

.contact {
  background: none;
  color: #333;
}

.contact-box {
  display: flex;
  
  justify-content: space-around;
  margin: 5rem;
}

.contact-box-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25rem;

}

.contact-box-inner:first-child {
  width: 35rem;
}

.contact-box-inner-h4 {
  color: #14532d;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1rem;

  background-image: linear-gradient(#fff,#e8eeea,#d0ddd5);
  border-radius: 5px;
  padding: 1.5rem 1rem;
  text-align: center;
}

.contact-box-inner-ul {
  height: 100%;
  list-style: none;
  font-size: 1.8rem;

  background-image: linear-gradient(#fff,#e8eeea,#d0ddd5);
  border-radius: 5px;
  padding: 1.5rem 2rem;
}

.contact-box-inner-li {
  display: flex;
  column-gap: 1rem;
  text-decoration: none;
  margin-top: 1rem;
  align-items: center;

  transition: all 0.3s;
}

.contact-box-inner-li:hover {
  
  .contact-links-icon, .contact-links-text {
    color: #14532d;
  }
}


.contact-links-icon {
  color: #000;
  font-size: 3.8rem;

  transform: translateY(10%);
  transition: all 0.3s;
}


.contact-links-text{
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s;
}
.contact-links-text-email{
  text-transform: none;
}


/* =================================================================
---------------------- skill matrix -------------------------------
=================================================================== */

.skill-matrix {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.3rem;

  margin: 0.3rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.skill-matrix-fig {
  height: 17.7rem;
  width: 23.15rem;
  font-size: 4rem;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.8);
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  border-bottom: 0.1px solid rgba(20, 83, 45,0.3);
  border-right: 0.1px solid rgba(20, 83, 45,0.3);
  
  transition: all 0.5s;
}

.skill-matrix-fig:hover {
  border: #000;
}
.skill-matrix-fig-text {
  color: #fff;

  .skill-matrix-fig-text-nohover {
    display: inline-block;
  }
}

.skill-matrix-fig-text:hover {
  color: #fff;
  background: #14532d;
  
  .skill-matrix-fig-text-hover {

    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .skill-matrix-fig-text-nohover {
    display: none;
  }
}


.skill-matrix-fig-text-hover {
  display: none;
}
.skill-matrix-fig-text-hover-h4 {
  grid-column: 1 / -3;
  grid-row: 1;
  font-size: 2rem;
  align-content: center;
    
}


.skill-matrix-fig-text-hover-p {
  grid-row: 2/-1;
  grid-column: 2/-1;
  font-size: 1rem;

  align-content: center;
  text-align:left;

}

.skill-matrix-fig-br-right {
  border-right: 0.1px solid rgba(20, 83, 45,0.3);
}

.skill-matrix-fig-br-bottom {
  border-top: 0.1px solid rgba(20, 83, 45,0.3);

}

.skill-matrix-fig-img {
  display: none;
  height: 17.7rem;

  background-size:cover;
  background-position:center;
}





/* .body-content {
  display: flex;
  gap: 10px;
  height: 100%;//
}

.div-1 {
  flex: 0 0 300px;
  align-self: center;
}
.nav {
  width: 300px;
  height: 100vh;
  text-align: center;
  position: fixed;
  font-size: 30px;
  align-content: center;
  border-right: 5px solid #c59805;//
}

.nav:hover {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}

.main {
  position: relative;
  padding: 16px 0 16px 16px;
}
.main-h1 {
  font-size: 52px;
}

.main p {
  font-size: 32px;
  margin-bottom: 20px;
  pointer-events: none;
}
@media (max-width: 1300px) {
  .div-1 {
    flex: 0 0 250px;
  }
  .nav {
    width: 250px;
  }
}
@media (max-width: 1100px) {
  .div-1 {
    flex: 0 0 200px;
  }
  .nav {
    width: 200px;
  }
}
.float {
  display: none;
  width: 82px;
}
@media (max-width: 900px) {
  remove the nav bar ///
  .nav {
    display: none;
  }
  .div-1 {
    display: none;
  }
  .float {
    display: block;
    position: fixed;
    background-color: rgba(223, 111, 35, 0.44);
    width: 82px;
    border-radius: 10px;
    padding-bottom: -10px;
  } ////
} 
